{% extends "plantilla.html" %}

{% block content %} 
&nbsp
&nbsp
&nbsp
&nbsp
<div class="container">
<div class="card mb-3 card text-white bg-dark mb-3 border-success"  >
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/static/SM2.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">San Miguel</h5>
          <p class="card-text">El territorio fue poblado originalmente por grupos lencas. Tras la fundación de la villa de San Salvador en 1525, los españoles encomendaron al capitán Luis de Moscoso la fundación de San Miguel de la Frontera, la cual tuvo lugar en 1530.
            En 1865, durante el Gobierno de Francisco Dueñas, fue determinado que el departamento redujera su dimensión y se creara a expensas del territorio los departamentos de La Unión y Usulután.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
    <div class="card mb-3 card text-white bg-secondary  mb-3 border-light"  >
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/static/SM1.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">San Miguel</h5>
              <p class="card-text">Entre las figuras políticas notables originarias de este departamento se encuentran el Capitán General Gerardo Barrios, y el Capitán General Miguel Santín del Castillo, quienes en sendos periodos presidenciales hicieron contribuciones importantes como la introducción de la educación normal y las escuelas públicas; y el fomento al cultivo industrializado del café</p>
              <p class="card-text"><small class="text-muted"></small></p>
            </div>
          </div>
        </div>
      </div>
    </div>




{% endblock %}